
.navbar{
  padding:20px;
  margin: 10px 0;
}

.EstiloGrid{
  margin-left: 50px;
}

html, body {
  background-color: #4575ff !important;
}

.CardCartoes{
  background-color: whitesmoke ;
  box-shadow: 3px 5px 5px black;
 
}

.cardUnico{
  background-color: 8ee4fb;
}